kube-prometheus-stack:
  nodeExporter:
    operatingSystems:
      aix:
        enabled: false
      darwin:
        enabled: false

  grafana:
    ingress:
      enabled: true

    # persistence:
    #   enabled: true
    #   size: 5Gi

  # prometheus:
  #   storageSpec:
  #     volumeClaimTemplate:
  #       spec:
  #         storageClassName: local-path
  #         accessModes: ["ReadWriteOnce"]
  #         resources:
  #           requests:
  #             storage: 15Gi
