kube-prometheus-stack:
  kubeProxy:
    enabled: false

  alertmanager:
    enabled: false

  grafana:
    ingress:
      enabled: true
      ingressClassName: traefik
      hosts:
        - grafana.skyf0l.dev
      tls:
        - hosts:
            - grafana.skyf0l.dev

    # persistence:
    #   enabled: true
    #   storageClassName: local-path
    #   accessModes: ["ReadWriteOnce"]
    #   size: 5Gi

  prometheus:
    prometheusSpec:
      retention: 30d
      retentionSize: 15GiB

    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 15Gi

  prometheusOperator:
    admissionWebhooks:
      enabled: false
      patch:
        enabled: false
