# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
/out-tsc
**/target

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.env

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.user.template.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.angular

.nx/cache

.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache

**/tmp.*
**/*.tmp.*

/**/tmp/*
!/**/tmp/.gitkeep

/.nx/*
!/.nx/.gitkeep
!/.nx/**/.gitkeep

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

target

# Ansible
ansible-navigator.log
projects/ansible/context
projects/ansible/artifacts
projects/ansible/inventory

# venv
.venv

# Helm
**/Chart.lock
**/charts

**/.secret

# Vagrant
.vagrant/
