apiVersion: v1
kind: ServiceAccount
metadata:
  name: cloudflare-ddns
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflare-ddns
  labels:
    app: cloudflare-ddns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudflare-ddns
  template:
    metadata:
      labels:
        app: cloudflare-ddns
      annotations:
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/role: "k8s-workload-scoped"
        vault.hashicorp.com/tls-skip-verify: "true"
        # Write this file: /vault/secrets/config.json
        vault.hashicorp.com/agent-inject-secret-config.json: "kvv2/data/cluster/default/cloudflare-ddns/cloudflare-ddns/cloudflare-ddns-config"
        vault.hashicorp.com/agent-inject-template-config.json: |
          {{- with secret "kvv2/data/cluster/cloudflare-ddns/cloudflare-ddns/cloudflare-ddns-config" -}}
          {
            "cloudflare": [
              {
                "authentication": {
                  "api_token": "{{ .Data.data.API_TOKEN }}",
                  "api_key": {
                    "api_key": "{{ .Data.data.API_KEY }}",
                    "account_email": "{{ .Data.data.ACCOUNT_EMAIL }}"
                  }
                },
                "zone_id": "{{ .Data.data.ZONE_ID }}",
                "subdomains": [
                  { "name": "",   "proxied": true  },
                  { "name": "pi", "proxied": false },
                  { "name": "vault", "proxied": false },
                  { "name": "*",  "proxied": true  }
                ]
              }
            ],
            "a": true,
            "aaaa": false,
            "purgeUnknownRecords": false,
            "ttl": 300
          }
          {{- end -}}
    spec:
      serviceAccountName: cloudflare-ddns
      containers:
        - name: cloudflare-ddns
          image: timothyjmiller/cloudflare-ddns:latest
          resources:
            limits:
              memory: "32Mi"
              cpu: "50m"
          env:
            - name: CONFIG_PATH
              value: /vault/secrets/
