apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: trivy
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/skyf0l/skylab.git
    targetRevision: main
    path: k8s/projects/cluster-stack/trivy
    helm:
      releaseName: trivy
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: trivy-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - Replace=true
      - PruneLast=true
      - PrunePropagationPolicy=foreground
