apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflare-ddns
  labels:
    app: cloudflare-ddns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudflare-ddns
  template:
    metadata:
      labels:
        app: cloudflare-ddns
      annotations:
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/role: "k8s-workload-scoped"
        vault.hashicorp.com/tls-skip-verify: "true"
        # Write this file: /vault/secrets/config.json
        vault.hashicorp.com/agent-inject-secret-config.json: "kvv2/data/cluster/default/cloudflare-ddns/cloudflare-ddns/cloudflare-ddns-config"
        vault.hashicorp.com/agent-inject-template-config.json: |
          {{ .Files.Get "files/vault-config.tpl" }}
    spec:
      serviceAccountName: cloudflare-ddns
      containers:
        - name: cloudflare-ddns
          image: timothyjmiller/cloudflare-ddns:latest
          resources:
            limits:
              memory: "32Mi"
              cpu: "50m"
          env:
            - name: CONFIG_PATH
              value: /vault/secrets/
