traefik:
  # Listen on all nodes
  deployment:
    kind: DaemonSet

  service:
    type: ClusterIP

  ports:
    web:
      hostPort: 80
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
    websecure:
      hostPort: 443

  # Enable the internal API/dashboard
  api:
    insecure: true
    dashboard: true

  # Create the dashboard IngressRoute
  ingressRoute:
    dashboard:
      enabled: true
      # Custom match rule with host domain
      matchRule: Host(`traefik.vagrant.local`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      entryPoints: ["websecure"]
