# yaml-language-server: $schema=https://raw.githubusercontent.com/cilium/cilium/refs/tags/v1.18.6/install/kubernetes/cilium/values.schema.json

k8sServiceHost: "{{ k8s_api_server_endpoint_ip }}"
k8sServicePort: "{{ k8s_api_server_endpoint_port }}"

rollOutCiliumPods: true
kubeProxyReplacement: "true"

cni:
  install: true
ipam:
  mode: kubernetes

hubble:
  enable: true
  relay:
    enabled: true
  ui:
    enabled: true
    ingress:
      enabled: true
